# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/banctnnx/repositories/bancee"
PassengerBaseURI "/"
PassengerNodejs "/home/banctnnx/nodevenv/repositories/bancee/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
